In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, to_date, year, month, dayofmonth, dayofweek, weekofyear
from pyspark.sql.functions import sum as _sum

spark = SparkSession.builder.appName('week1 homework').getOrCreate()

## user_list

In [2]:
ul_df = spark.read.csv('user_list.csv', header=True, inferSchema=True)

In [3]:
ul_df.show()

+-------------------+------+---+-------------------+---------+--------------------+
|           REG_DATE|SEX_ID|AGE|      WITHDRAW_DATE|PREF_NAME|        USER_ID_hash|
+-------------------+------+---+-------------------+---------+--------------------+
|2012-03-28 14:14:18|     f| 25|                 NA|     NULL|d9dca3cb44bab12ba...|
|2011-05-18 00:41:48|     f| 34|                 NA|   東京都|560574a339f1b25e5...|
|2011-06-13 16:36:58|     m| 41|                 NA|   愛知県|e66ae91b978b3229f...|
|2012-02-08 12:56:15|     m| 25|                 NA|     NULL|43fc18f32eafb0571...|
|2011-05-22 23:43:56|     m| 62|                 NA| 神奈川県|dc6df8aa860f8db0d...|
|2011-05-27 16:17:19|     f| 50|                 NA|   広島県|f430e8302c1fd0915...|
|2011-08-24 23:30:24|     m| 44|                 NA|   埼玉県|f3722c32325314403...|
|2010-11-16 11:56:52|     f| 40|                 NA|   愛知県|566c410a12848492c...|
|2012-01-01 00:56:38|     m| 47|                 NA|   奈良県|409d495d62c15f6fd...|
|2011-12-27 15:30:24|     m| 31|                 NA|     NULL|72f88db98f71be3f5...|
|2011-04-18 20:03:55|     f| 41|                 NA|   石川県|1001a440695a0063f...|
|2011-05-22 01:43:53|     f| 31|                 NA| 神奈川県|d75c1a44b151d66ea...|
|2010-11-16 12:01:13|     m| 48|                 NA|   大阪府|70479ee8862d20293...|
|2011-09-13 09:58:35|     m| 32|                 NA| 神奈川県|a96643bfe2d011d30...|
|2010-12-14 10:35:58|     f| 36|                 NA|   熊本県|f972d228e410ec346...|
|2010-12-09 19:06:59|     m| 54|                 NA|   福岡県|28049e0d4cc904ac3...|
|2011-02-28 16:11:53|     m| 34|2012-01-26 11:54:33|   北海道|617b343271094ed99...|
|2012-01-09 14:44:30|     f| 39|                 NA|   東京都|eb2e1864a5db99653...|
|2011-03-08 08:58:56|     m| 25|                 NA|   広島県|80854ed829ef3f4e1...|
|2011-02-26 16:46:45|     m| 44|                 NA|   東京都|73011216a9731f575...|
+-------------------+------+---+-------------------+---------+--------------------+
only showing top 20 rows

In [4]:
ul_df.printSchema()

root
 |-- REG_DATE: timestamp (nullable = true)
 |-- SEX_ID: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- WITHDRAW_DATE: string (nullable = true)
 |-- PREF_NAME: string (nullable = true)
 |-- USER_ID_hash: string (nullable = true)

In [5]:
ul_df.summary().show()

+-------+------+------------------+-------------------+---------+--------------------+
|summary|SEX_ID|               AGE|      WITHDRAW_DATE|PREF_NAME|        USER_ID_hash|
+-------+------+------------------+-------------------+---------+--------------------+
|  count| 22873|             22873|              22873|    15617|               22873|
|   mean|  NULL|42.497835876360774|               NULL|     NULL|                NULL|
| stddev|  NULL|11.843465276914204|               NULL|     NULL|                NULL|
|    min|     f|                15|2011-07-07 19:51:30|   三重県|0000b53e182165208...|
|    25%|  NULL|                33|               NULL|     NULL|                NULL|
|    50%|  NULL|                41|               NULL|     NULL|                NULL|
|    75%|  NULL|                51|               NULL|     NULL|                NULL|
|    max|     m|                80|                 NA| 鹿児島県|ffff56dbf3c782c35...|
+-------+------+------------------+-------------------+---------+--------------------+

## coupon_detail_train

In [6]:
cdt_df = spark.read.csv('coupon_detail_train.csv', header=True, inferSchema=True)

In [7]:
cdt_df.show()

+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+
|ITEM_COUNT|             I_DATE|             SMALL_AREA_NAME|     PURCHASEID_hash|        USER_ID_hash|      COUPON_ID_hash|
+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+
|         1|2012-03-28 15:06:06|                        兵庫|c820a8882374a4e47...|d9dca3cb44bab12ba...|34c48f84026e08355...|
|         1|2011-07-04 23:52:54|      銀座・新橋・東京・上野|1b4eb2435421ede98...|560574a339f1b25e5...|767673b7a777854a9...|
|         1|2011-07-16 00:52:49|          恵比寿・目黒・品川|36b5f9ba46c44b655...|560574a339f1b25e5...|4f3b5b91d98311925...|
|         1|2011-07-16 00:54:53|          恵比寿・目黒・品川|2f30f46937cc90047...|560574a339f1b25e5...|4f3b5b91d98311925...|
|         1|2011-07-16 00:55:52|          恵比寿・目黒・品川|4d000c64a55ac573d...|560574a339f1b25e5...|4f3b5b91d98311925...|
|         1|2011-07-16 00:57:09|          恵比寿・目黒・品川|d8b030c8a4a2c1051...|560574a339f1b25e5...|4f3b5b91d98311925...|
|         2|2011-07-16 00:58:29|          恵比寿・目黒・品川|2c98138766edf5d5b...|560574a339f1b25e5...|4f3b5b91d98311925...|
|         2|2011-09-07 00:04:47|        渋谷・青山・自由が丘|5a45d62c72a4cc415...|560574a339f1b25e5...|259a22533cab38146...|
|         1|2011-10-19 22:21:50|        渋谷・青山・自由が丘|592bb67c0553648d6...|560574a339f1b25e5...|f4a6f861a266799b0...|
|         1|2011-12-01 16:53:45|          恵比寿・目黒・品川|509883c481716b1f3...|560574a339f1b25e5...|4257a8a169b40bbbc...|
|         2|2012-01-15 20:53:59|        渋谷・青山・自由が丘|231e87e928a48403a...|560574a339f1b25e5...|3e7d148d632f7ee12...|
|         2|2012-03-13 00:29:18|      銀座・新橋・東京・上野|6f0b1da67d70392cb...|560574a339f1b25e5...|34ea3cc1cf4ec57f3...|
|         1|2012-03-31 01:31:08|        渋谷・青山・自由が丘|c80173987b3515b63...|560574a339f1b25e5...|129a696dac8e7eb09...|
|         1|2012-04-05 09:21:21|新宿・高田馬場・中野・吉祥寺|d3ce3a8259e675597...|560574a339f1b25e5...|716abc8dcbfee15cf...|
|         1|2012-05-04 10:30:23|          恵比寿・目黒・品川|ad5fcf63d2793315c...|560574a339f1b25e5...|cea20b04d7bb26b52...|
|         1|2012-05-17 20:56:09|新宿・高田馬場・中野・吉祥寺|b3606c6ad14c7771a...|560574a339f1b25e5...|d0590f9b80fd6aa59...|
|         1|2012-06-12 22:50:48|                        群馬|d5f196b588dd5dc4b...|560574a339f1b25e5...|4b4a03629482c17c3...|
|         1|2011-07-22 08:51:34|                        愛知|fe61ec0d6cc9b0869...|e66ae91b978b3229f...|bf1c42f4f879f879e...|
|         1|2012-02-08 13:04:05|                        山形|d88f6ab0f9b8d737c...|43fc18f32eafb0571...|e1d91d56d2a86d4cb...|
|         1|2012-04-03 15:22:55|新宿・高田馬場・中野・吉祥寺|1cef71947aa1f80e7...|43fc18f32eafb0571...|89b72c8e0e8272e05...|
+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [8]:
cdt_df.printSchema()

root
 |-- ITEM_COUNT: integer (nullable = true)
 |-- I_DATE: timestamp (nullable = true)
 |-- SMALL_AREA_NAME: string (nullable = true)
 |-- PURCHASEID_hash: string (nullable = true)
 |-- USER_ID_hash: string (nullable = true)
 |-- COUPON_ID_hash: string (nullable = true)

In [9]:
cdt_df.summary().show()

+-------+------------------+---------------+--------------------+--------------------+--------------------+
|summary|        ITEM_COUNT|SMALL_AREA_NAME|     PURCHASEID_hash|        USER_ID_hash|      COUPON_ID_hash|
+-------+------------------+---------------+--------------------+--------------------+--------------------+
|  count|            168996|         168996|              168996|              168996|              168996|
|   mean|1.4309391938270728|           NULL|                NULL|                NULL|                NULL|
| stddev|0.9827320333454747|           NULL|                NULL|                NULL|                NULL|
|    min|                 1|           キタ|0000655d8c1e67679...|0000b53e182165208...|000eba9b783cec106...|
|    25%|                 1|           NULL|                NULL|                NULL|                NULL|
|    50%|                 1|           NULL|                NULL|                NULL|                NULL|
|    75%|                 2|           NULL|                NULL|                NULL|                NULL|
|    max|                55|         鹿児島|ffffc444664536443...|ffff56dbf3c782c35...|fffa212f26e62e489...|
+-------+------------------+---------------+--------------------+--------------------+--------------------+

## 요청사항1
user_list, coupon_detail_train 데이터를 "USER_ID_hash" 기준으로 user_list로 inner join

In [10]:
Q.기준 테이블이 user_list가 맞는지?

Object `맞는지` not found.

In [11]:
# from pyspark.sql.functions import col

ij_df = ul_df.alias('ul').join(
    cdt_df.alias('cdt'), 
    col('ul.USER_ID_hash') == col('cdt.USER_ID_hash'), 
    'inner'
)

In [12]:
ij_df.show()

+-------------------+------+---+-------------+---------+--------------------+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+
|           REG_DATE|SEX_ID|AGE|WITHDRAW_DATE|PREF_NAME|        USER_ID_hash|ITEM_COUNT|             I_DATE|             SMALL_AREA_NAME|     PURCHASEID_hash|        USER_ID_hash|      COUPON_ID_hash|
+-------------------+------+---+-------------+---------+--------------------+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+
|2012-03-28 14:14:18|     f| 25|           NA|     NULL|d9dca3cb44bab12ba...|         1|2012-03-28 15:06:06|                        兵庫|c820a8882374a4e47...|d9dca3cb44bab12ba...|34c48f84026e08355...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-04 23:52:54|      銀座・新橋・東京・上野|1b4eb2435421ede98...|560574a339f1b25e5...|767673b7a777854a9...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:52:49|          恵比寿・目黒・品川|36b5f9ba46c44b655...|560574a339f1b25e5...|4f3b5b91d98311925...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:54:53|          恵比寿・目黒・品川|2f30f46937cc90047...|560574a339f1b25e5...|4f3b5b91d98311925...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:55:52|          恵比寿・目黒・品川|4d000c64a55ac573d...|560574a339f1b25e5...|4f3b5b91d98311925...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:57:09|          恵比寿・目黒・品川|d8b030c8a4a2c1051...|560574a339f1b25e5...|4f3b5b91d98311925...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2011-07-16 00:58:29|          恵比寿・目黒・品川|2c98138766edf5d5b...|560574a339f1b25e5...|4f3b5b91d98311925...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2011-09-07 00:04:47|        渋谷・青山・自由が丘|5a45d62c72a4cc415...|560574a339f1b25e5...|259a22533cab38146...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-10-19 22:21:50|        渋谷・青山・自由が丘|592bb67c0553648d6...|560574a339f1b25e5...|f4a6f861a266799b0...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-12-01 16:53:45|          恵比寿・目黒・品川|509883c481716b1f3...|560574a339f1b25e5...|4257a8a169b40bbbc...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2012-01-15 20:53:59|        渋谷・青山・自由が丘|231e87e928a48403a...|560574a339f1b25e5...|3e7d148d632f7ee12...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2012-03-13 00:29:18|      銀座・新橋・東京・上野|6f0b1da67d70392cb...|560574a339f1b25e5...|34ea3cc1cf4ec57f3...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-03-31 01:31:08|        渋谷・青山・自由が丘|c80173987b3515b63...|560574a339f1b25e5...|129a696dac8e7eb09...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-04-05 09:21:21|新宿・高田馬場・中野・吉祥寺|d3ce3a8259e675597...|560574a339f1b25e5...|716abc8dcbfee15cf...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-05-04 10:30:23|          恵比寿・目黒・品川|ad5fcf63d2793315c...|560574a339f1b25e5...|cea20b04d7bb26b52...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-05-17 20:56:09|新宿・高田馬場・中野・吉祥寺|b3606c6ad14c7771a...|560574a339f1b25e5...|d0590f9b80fd6aa59...|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-06-12 22:50:48|                        群馬|d5f196b588dd5dc4b...|560574a339f1b25e5...|4b4a03629482c17c3...|
|2011-06-13 16:36:58|     m| 41|           NA|   愛知県|e66ae91b978b3229f...|         1|2011-07-22 08:51:34|                        愛知|fe61ec0d6cc9b0869...|e66ae91b978b3229f...|bf1c42f4f879f879e...|
|2012-02-08 12:56:15|     m| 25|           NA|     NULL|43fc18f32eafb0571...|         1|2012-02-08 13:04:05|                        山形|d88f6ab0f9b8d737c...|43fc18f32eafb0571...|e1d91d56d2a86d4cb...|
|2012-02-08 12:56:15|     m| 25|           NA|     NULL|43fc18f32eafb0571...|         1|2012-04-03 15:22:55|新宿・高田馬場・中野・吉祥寺|1cef71947aa1f80e7...|43fc18f32eafb0571...|89b72c8e0e8272e05...|
+-------------------+------+---+-------------+---------+--------------------+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [13]:
ij_df.printSchema()

root
 |-- REG_DATE: timestamp (nullable = true)
 |-- SEX_ID: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- WITHDRAW_DATE: string (nullable = true)
 |-- PREF_NAME: string (nullable = true)
 |-- USER_ID_hash: string (nullable = true)
 |-- ITEM_COUNT: integer (nullable = true)
 |-- I_DATE: timestamp (nullable = true)
 |-- SMALL_AREA_NAME: string (nullable = true)
 |-- PURCHASEID_hash: string (nullable = true)
 |-- USER_ID_hash: string (nullable = true)
 |-- COUPON_ID_hash: string (nullable = true)

## 요청사항2
"REG_DATE" 기준으로 "yyyy-MM-dd" 형식의 date 열 만들기

1. 'withColumn'
2. 'selectExpr'

In [14]:
# from pyspark.sql.functions import to_date

pre1_df = ij_df.withColumn('date', to_date(col('REG_DATE'), 'yyyy-MM-dd'))

In [14]:
# from pyspark.sql.functions import to_date

# pre1_df = ij_df.selectExpr(
#     "to_date(ul.REG_DATE, 'yyyy-MM-dd') as date",
#     "ul.USER_ID_hash as user_id",
#     "ul.SEX_ID as sex_id",
#     "ul.PREF_NAME as name",
#     "cdt.SMALL_AREA_NAME as area_name",
#     "cdt.PURCHASEID_hash as purchased_id"
# )

In [15]:
pre1_df.show()

+-------------------+------+---+-------------+---------+--------------------+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+----------+
|           REG_DATE|SEX_ID|AGE|WITHDRAW_DATE|PREF_NAME|        USER_ID_hash|ITEM_COUNT|             I_DATE|             SMALL_AREA_NAME|     PURCHASEID_hash|        USER_ID_hash|      COUPON_ID_hash|      date|
+-------------------+------+---+-------------+---------+--------------------+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+----------+
|2012-03-28 14:14:18|     f| 25|           NA|     NULL|d9dca3cb44bab12ba...|         1|2012-03-28 15:06:06|                        兵庫|c820a8882374a4e47...|d9dca3cb44bab12ba...|34c48f84026e08355...|2012-03-28|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-04 23:52:54|      銀座・新橋・東京・上野|1b4eb2435421ede98...|560574a339f1b25e5...|767673b7a777854a9...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:52:49|          恵比寿・目黒・品川|36b5f9ba46c44b655...|560574a339f1b25e5...|4f3b5b91d98311925...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:54:53|          恵比寿・目黒・品川|2f30f46937cc90047...|560574a339f1b25e5...|4f3b5b91d98311925...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:55:52|          恵比寿・目黒・品川|4d000c64a55ac573d...|560574a339f1b25e5...|4f3b5b91d98311925...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-07-16 00:57:09|          恵比寿・目黒・品川|d8b030c8a4a2c1051...|560574a339f1b25e5...|4f3b5b91d98311925...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2011-07-16 00:58:29|          恵比寿・目黒・品川|2c98138766edf5d5b...|560574a339f1b25e5...|4f3b5b91d98311925...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2011-09-07 00:04:47|        渋谷・青山・自由が丘|5a45d62c72a4cc415...|560574a339f1b25e5...|259a22533cab38146...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-10-19 22:21:50|        渋谷・青山・自由が丘|592bb67c0553648d6...|560574a339f1b25e5...|f4a6f861a266799b0...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2011-12-01 16:53:45|          恵比寿・目黒・品川|509883c481716b1f3...|560574a339f1b25e5...|4257a8a169b40bbbc...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2012-01-15 20:53:59|        渋谷・青山・自由が丘|231e87e928a48403a...|560574a339f1b25e5...|3e7d148d632f7ee12...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         2|2012-03-13 00:29:18|      銀座・新橋・東京・上野|6f0b1da67d70392cb...|560574a339f1b25e5...|34ea3cc1cf4ec57f3...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-03-31 01:31:08|        渋谷・青山・自由が丘|c80173987b3515b63...|560574a339f1b25e5...|129a696dac8e7eb09...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-04-05 09:21:21|新宿・高田馬場・中野・吉祥寺|d3ce3a8259e675597...|560574a339f1b25e5...|716abc8dcbfee15cf...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-05-04 10:30:23|          恵比寿・目黒・品川|ad5fcf63d2793315c...|560574a339f1b25e5...|cea20b04d7bb26b52...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-05-17 20:56:09|新宿・高田馬場・中野・吉祥寺|b3606c6ad14c7771a...|560574a339f1b25e5...|d0590f9b80fd6aa59...|2011-05-18|
|2011-05-18 00:41:48|     f| 34|           NA|   東京都|560574a339f1b25e5...|         1|2012-06-12 22:50:48|                        群馬|d5f196b588dd5dc4b...|560574a339f1b25e5...|4b4a03629482c17c3...|2011-05-18|
|2011-06-13 16:36:58|     m| 41|           NA|   愛知県|e66ae91b978b3229f...|         1|2011-07-22 08:51:34|                        愛知|fe61ec0d6cc9b0869...|e66ae91b978b3229f...|bf1c42f4f879f879e...|2011-06-13|
|2012-02-08 12:56:15|     m| 25|           NA|     NULL|43fc18f32eafb0571...|         1|2012-02-08 13:04:05|                        山形|d88f6ab0f9b8d737c...|43fc18f32eafb0571...|e1d91d56d2a86d4cb...|2012-02-08|
|2012-02-08 12:56:15|     m| 25|           NA|     NULL|43fc18f32eafb0571...|         1|2012-04-03 15:22:55|新宿・高田馬場・中野・吉祥寺|1cef71947aa1f80e7...|43fc18f32eafb0571...|89b72c8e0e8272e05...|2012-02-08|
+-------------------+------+---+-------------+---------+--------------------+----------+-------------------+----------------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

## 요청사항3
필요한 열 선택 / ETL 처리

Q.ETL 처리?

In [16]:
pre2_df = pre1_df.select(
    col('date'),
    col('ul.USER_ID_hash').alias('user_id'),
    col('ul.SEX_ID').alias('sex_id'),
    col('ul.PREF_NAME').alias('name'),
    col('cdt.SMALL_AREA_NAME').alias('area_name'),
    col('cdt.PURCHASEID_hash').alias('purchased_id'),
    col('cdt.ITEM_COUNT').alias('item_count')
)

In [17]:
pre2_df.show()

+----------+--------------------+------+------+----------------------------+--------------------+----------+
|      date|             user_id|sex_id|  name|                   area_name|        purchased_id|item_count|
+----------+--------------------+------+------+----------------------------+--------------------+----------+
|2012-03-28|d9dca3cb44bab12ba...|     f|  NULL|                        兵庫|c820a8882374a4e47...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|      銀座・新橋・東京・上野|1b4eb2435421ede98...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|36b5f9ba46c44b655...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|2f30f46937cc90047...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|4d000c64a55ac573d...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|d8b030c8a4a2c1051...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|2c98138766edf5d5b...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|5a45d62c72a4cc415...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|592bb67c0553648d6...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|509883c481716b1f3...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|231e87e928a48403a...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|      銀座・新橋・東京・上野|6f0b1da67d70392cb...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|c80173987b3515b63...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|新宿・高田馬場・中野・吉祥寺|d3ce3a8259e675597...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|ad5fcf63d2793315c...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|新宿・高田馬場・中野・吉祥寺|b3606c6ad14c7771a...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|                        群馬|d5f196b588dd5dc4b...|         1|
|2011-06-13|e66ae91b978b3229f...|     m|愛知県|                        愛知|fe61ec0d6cc9b0869...|         1|
|2012-02-08|43fc18f32eafb0571...|     m|  NULL|                        山形|d88f6ab0f9b8d737c...|         1|
|2012-02-08|43fc18f32eafb0571...|     m|  NULL|新宿・高田馬場・中野・吉祥寺|1cef71947aa1f80e7...|         1|
+----------+--------------------+------+------+----------------------------+--------------------+----------+
only showing top 20 rows

## 요청사항4
결측치 처리
- 구분열 결측치 "-"으로, 수치열 결측치 0으로 처리
- "NA"로 된 값도 위에 정의한 값으로 결측치 처리

| memo
- isNull : null과 None 값만 결측치로 판단(대소문자 구분없이) / 만약 'NULL', 'Null', 'null'과 같은 문자열 값이 들어가면 당연히 결측치로 판단하지 않음

In [18]:
pre2_df.printSchema()

root
 |-- date: date (nullable = true)
 |-- user_id: string (nullable = true)
 |-- sex_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- area_name: string (nullable = true)
 |-- purchased_id: string (nullable = true)
 |-- item_count: integer (nullable = true)

In [19]:
pre3_df = pre2_df.na.fill('-', subset=['date', 'user_id', 'sex_id', 'name', 'area_name', 'purchased_id']) \
    .na.fill(0, subset=['item_count'])

In [20]:
pre3_df.show()

+----------+--------------------+------+------+----------------------------+--------------------+----------+
|      date|             user_id|sex_id|  name|                   area_name|        purchased_id|item_count|
+----------+--------------------+------+------+----------------------------+--------------------+----------+
|2012-03-28|d9dca3cb44bab12ba...|     f|     -|                        兵庫|c820a8882374a4e47...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|      銀座・新橋・東京・上野|1b4eb2435421ede98...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|36b5f9ba46c44b655...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|2f30f46937cc90047...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|4d000c64a55ac573d...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|d8b030c8a4a2c1051...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|2c98138766edf5d5b...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|5a45d62c72a4cc415...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|592bb67c0553648d6...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|509883c481716b1f3...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|231e87e928a48403a...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|      銀座・新橋・東京・上野|6f0b1da67d70392cb...|         2|
|2011-05-18|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|c80173987b3515b63...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|新宿・高田馬場・中野・吉祥寺|d3ce3a8259e675597...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|ad5fcf63d2793315c...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|新宿・高田馬場・中野・吉祥寺|b3606c6ad14c7771a...|         1|
|2011-05-18|560574a339f1b25e5...|     f|東京都|                        群馬|d5f196b588dd5dc4b...|         1|
|2011-06-13|e66ae91b978b3229f...|     m|愛知県|                        愛知|fe61ec0d6cc9b0869...|         1|
|2012-02-08|43fc18f32eafb0571...|     m|     -|                        山形|d88f6ab0f9b8d737c...|         1|
|2012-02-08|43fc18f32eafb0571...|     m|     -|新宿・高田馬場・中野・吉祥寺|1cef71947aa1f80e7...|         1|
+----------+--------------------+------+------+----------------------------+--------------------+----------+
only showing top 20 rows

In [22]:
# from pyspark.sql.functions import sum, when

missing_cnt = pre3_df.select([
    _sum(when(
        col(c).isNull() | (col(c) == "") | (col(c) == " ") | (col(c) == "NA"), 
        1).otherwise(0)).alias(c) 
    for c in pre3_df.columns
])

In [23]:
missing_cnt.show()

+----+-------+------+----+---------+------------+----------+
|date|user_id|sex_id|name|area_name|purchased_id|item_count|
+----+-------+------+----+---------+------------+----------+
|   0|      0|     0|   0|        0|           0|         0|
+----+-------+------+----+---------+------------+----------+

## 요청사항5
date 컬럼을 활용해 year / month / day / dow / weeks 열 만들기
- dow의 경우 일요일이 0, 토요일이 6으로 표현

In [24]:
from pyspark.sql.functions import year, month, dayofmonth, dayofweek, weekofyear

In [25]:
pre4_df = pre3_df \
    .withColumn('year', year('date')) \
    .withColumn('month', month('date')) \
    .withColumn('day', dayofmonth('date')) \
    .withColumn('dow', (dayofweek('date') - 1)) \
    .withColumn('weeks', weekofyear('date'))

In [26]:
columns = ['date', 'year', 'month', 'day', 'dow', 'weeks', 'user_id', 'sex_id', 'name', 'area_name', 'purchased_id', 'item_count']
pre4_df = pre4_df.select(columns)

In [27]:
pre4_df.show()

+----------+----+-----+---+---+-----+--------------------+------+------+----------------------------+--------------------+----------+
|      date|year|month|day|dow|weeks|             user_id|sex_id|  name|                   area_name|        purchased_id|item_count|
+----------+----+-----+---+---+-----+--------------------+------+------+----------------------------+--------------------+----------+
|2012-03-28|2012|    3| 28|  3|   13|d9dca3cb44bab12ba...|     f|     -|                        兵庫|c820a8882374a4e47...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|      銀座・新橋・東京・上野|1b4eb2435421ede98...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|36b5f9ba46c44b655...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|2f30f46937cc90047...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|4d000c64a55ac573d...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|d8b030c8a4a2c1051...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|2c98138766edf5d5b...|         2|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|5a45d62c72a4cc415...|         2|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|592bb67c0553648d6...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|509883c481716b1f3...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|231e87e928a48403a...|         2|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|      銀座・新橋・東京・上野|6f0b1da67d70392cb...|         2|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|        渋谷・青山・自由が丘|c80173987b3515b63...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|新宿・高田馬場・中野・吉祥寺|d3ce3a8259e675597...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|          恵比寿・目黒・品川|ad5fcf63d2793315c...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|新宿・高田馬場・中野・吉祥寺|b3606c6ad14c7771a...|         1|
|2011-05-18|2011|    5| 18|  3|   20|560574a339f1b25e5...|     f|東京都|                        群馬|d5f196b588dd5dc4b...|         1|
|2011-06-13|2011|    6| 13|  1|   24|e66ae91b978b3229f...|     m|愛知県|                        愛知|fe61ec0d6cc9b0869...|         1|
|2012-02-08|2012|    2|  8|  3|    6|43fc18f32eafb0571...|     m|     -|                        山形|d88f6ab0f9b8d737c...|         1|
|2012-02-08|2012|    2|  8|  3|    6|43fc18f32eafb0571...|     m|     -|新宿・高田馬場・中野・吉祥寺|1cef71947aa1f80e7...|         1|
+----------+----+-----+---+---+-----+--------------------+------+------+----------------------------+--------------------+----------+
only showing top 20 rows

## 요청사항6
구분열 기준 수치열 합으로 중복 제거

Q.년, 월, 일, 요일, 주차 컬럼은 수치열로 보는 것이 아닌게 맞는지?

| memo

sum을 _sum으로 사용하는 이유?

python의 내장함수 sum과 충돌하기 때문
- python 내장함수 sum : iterable의 합계
- pyspark sql 함수 sum : DataFrame의 열에 대해 합계

In [28]:
pre4_df.printSchema()

root
 |-- date: date (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- dow: integer (nullable = true)
 |-- weeks: integer (nullable = true)
 |-- user_id: string (nullable = false)
 |-- sex_id: string (nullable = false)
 |-- name: string (nullable = false)
 |-- area_name: string (nullable = false)
 |-- purchased_id: string (nullable = false)
 |-- item_count: integer (nullable = true)

In [29]:
# from pyspark.sql.functions import sum as _sum

pre5_df = pre4_df.groupBy('date', 'year', 'month', 'day', 'dow', 'weeks', 'user_id', 'sex_id', 'name', 'area_name', 'purchased_id').agg(
    _sum('item_count').alias('item_count')
)

In [30]:
pre5_df.show()

+----------+----+-----+---+---+-----+--------------------+------+--------+----------------------------+--------------------+----------+
|      date|year|month|day|dow|weeks|             user_id|sex_id|    name|                   area_name|        purchased_id|item_count|
+----------+----+-----+---+---+-----+--------------------+------+--------+----------------------------+--------------------+----------+
|2011-05-22|2011|    5| 22|  0|   20|dc6df8aa860f8db0d...|     m|神奈川県|新宿・高田馬場・中野・吉祥寺|e53483c228cfcd6a3...|         3|
|2011-06-01|2011|    6|  1|  3|   22|0d6c3434c4e8b7483...|     f|神奈川県|        渋谷・青山・自由が丘|b87a494d6dbc69b28...|         1|
|2011-06-17|2011|    6| 17|  5|   24|9e773024e1511cbf6...|     f|  愛知県|                        静岡|c14ff10a9c769d661...|         4|
|2010-11-17|2010|   11| 17|  3|   46|6434a69c5df328f00...|     f|  東京都|      銀座・新橋・東京・上野|1b48473c9a08a3731...|         1|
|2010-11-22|2010|   11| 22|  1|   47|a812be01365209856...|     m|  東京都|        立川・町田・八王子他|cbac801d78c493169...|         4|
|2011-03-30|2011|    3| 30|  3|   13|a5dd79dd95d5e3473...|     m|       -|          池袋・神楽坂・赤羽|b401c10f1df2bdeea...|         1|
|2011-02-13|2011|    2| 13|  0|    6|a00fbe505fdfafcdd...|     m|  北海道|                        秋田|ac3d60ab8a27abd59...|         1|
|2010-10-05|2010|   10|  5|  2|   40|873c4096233fbb863...|     f|       -|                        キタ|fde024fe76c3df7cb...|         1|
|2011-11-05|2011|   11|  5|  6|   44|672f77b07b8d89d17...|     m|  福岡県|                        佐賀|6b02196412a4a6f52...|         2|
|2010-11-12|2010|   11| 12|  5|   45|9eac362e37c471741...|     f|  愛知県|                        青森|b137b72cafe44bf00...|         1|
|2010-12-15|2010|   12| 15|  3|   50|c63407a47fb9b659d...|     f|  東京都|        渋谷・青山・自由が丘|486143985800f1282...|         3|
|2012-01-29|2012|    1| 29|  0|    4|8d2bc9d017b61fb77...|     m|       -|                    ミナミ他|78a27e13e0ac50325...|         2|
|2010-11-05|2010|   11|  5|  5|   44|a66aa521754f70dbf...|     f|  秋田県|                        宮城|6b9bd02987f85a82d...|         1|
|2012-05-15|2012|    5| 15|  2|   20|f5ea446245d2c4fd3...|     m|       -|          恵比寿・目黒・品川|1da5be4e3798ba505...|         2|
|2011-06-01|2011|    6|  1|  3|   22|1a879bc7acb4f1c21...|     m|  山口県|                        山口|92ca3ffe2ab1ea22b...|         1|
|2010-11-12|2010|   11| 12|  5|   45|4840dc9e86ca747f3...|     f|  大阪府|                        兵庫|50fc40b5429565eb0...|         3|
|2011-07-22|2011|    7| 22|  5|   29|c69b8a959e7d91e7b...|     f|       -|新宿・高田馬場・中野・吉祥寺|efe226005b1450bdb...|         1|
|2011-02-07|2011|    2|  7|  1|    6|c7cbc6146610d9697...|     f|  東京都|          川崎・湘南・箱根他|deb60965d89b60f5a...|         1|
|2011-11-11|2011|   11| 11|  5|   45|2759d54da613f4623...|     m|  埼玉県|          赤坂・六本木・麻布|885f2a902dbc40659...|         2|
|2010-11-07|2010|   11|  7|  0|   44|f9a8d74fc30649fd8...|     m|  沖縄県|                        沖縄|096d32aa2e14381a7...|         2|
+----------+----+-----+---+---+-----+--------------------+------+--------+----------------------------+--------------------+----------+
only showing top 20 rows

## 요청사항3-1??
cost 컬럼 : item_count * 8000

cost_VAT 컬럼 : cost * 1.1

In [31]:
pre6_df = pre5_df.withColumn('cost', col('item_count') * 8000)
pre6_df = pre6_df.withColumn('cost_VAT', col('cost') * 1.1)

In [32]:
pre6_df.show()

+----------+----+-----+---+---+-----+--------------------+------+--------+----------------------------+--------------------+----------+-----+------------------+
|      date|year|month|day|dow|weeks|             user_id|sex_id|    name|                   area_name|        purchased_id|item_count| cost|          cost_VAT|
+----------+----+-----+---+---+-----+--------------------+------+--------+----------------------------+--------------------+----------+-----+------------------+
|2011-05-22|2011|    5| 22|  0|   20|dc6df8aa860f8db0d...|     m|神奈川県|新宿・高田馬場・中野・吉祥寺|e53483c228cfcd6a3...|         3|24000|26400.000000000004|
|2011-06-01|2011|    6|  1|  3|   22|0d6c3434c4e8b7483...|     f|神奈川県|        渋谷・青山・自由が丘|b87a494d6dbc69b28...|         1| 8000|            8800.0|
|2011-06-17|2011|    6| 17|  5|   24|9e773024e1511cbf6...|     f|  愛知県|                        静岡|c14ff10a9c769d661...|         4|32000|           35200.0|
|2010-11-17|2010|   11| 17|  3|   46|6434a69c5df328f00...|     f|  東京都|      銀座・新橋・東京・上野|1b48473c9a08a3731...|         1| 8000|            8800.0|
|2010-11-22|2010|   11| 22|  1|   47|a812be01365209856...|     m|  東京都|        立川・町田・八王子他|cbac801d78c493169...|         4|32000|           35200.0|
|2011-03-30|2011|    3| 30|  3|   13|a5dd79dd95d5e3473...|     m|       -|          池袋・神楽坂・赤羽|b401c10f1df2bdeea...|         1| 8000|            8800.0|
|2011-02-13|2011|    2| 13|  0|    6|a00fbe505fdfafcdd...|     m|  北海道|                        秋田|ac3d60ab8a27abd59...|         1| 8000|            8800.0|
|2010-10-05|2010|   10|  5|  2|   40|873c4096233fbb863...|     f|       -|                        キタ|fde024fe76c3df7cb...|         1| 8000|            8800.0|
|2011-11-05|2011|   11|  5|  6|   44|672f77b07b8d89d17...|     m|  福岡県|                        佐賀|6b02196412a4a6f52...|         2|16000|           17600.0|
|2010-11-12|2010|   11| 12|  5|   45|9eac362e37c471741...|     f|  愛知県|                        青森|b137b72cafe44bf00...|         1| 8000|            8800.0|
|2010-12-15|2010|   12| 15|  3|   50|c63407a47fb9b659d...|     f|  東京都|        渋谷・青山・自由が丘|486143985800f1282...|         3|24000|26400.000000000004|
|2012-01-29|2012|    1| 29|  0|    4|8d2bc9d017b61fb77...|     m|       -|                    ミナミ他|78a27e13e0ac50325...|         2|16000|           17600.0|
|2010-11-05|2010|   11|  5|  5|   44|a66aa521754f70dbf...|     f|  秋田県|                        宮城|6b9bd02987f85a82d...|         1| 8000|            8800.0|
|2012-05-15|2012|    5| 15|  2|   20|f5ea446245d2c4fd3...|     m|       -|          恵比寿・目黒・品川|1da5be4e3798ba505...|         2|16000|           17600.0|
|2011-06-01|2011|    6|  1|  3|   22|1a879bc7acb4f1c21...|     m|  山口県|                        山口|92ca3ffe2ab1ea22b...|         1| 8000|            8800.0|
|2010-11-12|2010|   11| 12|  5|   45|4840dc9e86ca747f3...|     f|  大阪府|                        兵庫|50fc40b5429565eb0...|         3|24000|26400.000000000004|
|2011-07-22|2011|    7| 22|  5|   29|c69b8a959e7d91e7b...|     f|       -|新宿・高田馬場・中野・吉祥寺|efe226005b1450bdb...|         1| 8000|            8800.0|
|2011-02-07|2011|    2|  7|  1|    6|c7cbc6146610d9697...|     f|  東京都|          川崎・湘南・箱根他|deb60965d89b60f5a...|         1| 8000|            8800.0|
|2011-11-11|2011|   11| 11|  5|   45|2759d54da613f4623...|     m|  埼玉県|          赤坂・六本木・麻布|885f2a902dbc40659...|         2|16000|           17600.0|
|2010-11-07|2010|   11|  7|  0|   44|f9a8d74fc30649fd8...|     m|  沖縄県|                        沖縄|096d32aa2e14381a7...|         2|16000|           17600.0|
+----------+----+-----+---+---+-----+--------------------+------+--------+----------------------------+--------------------+----------+-----+------------------+
only showing top 20 rows